{% extends 'base_shop.html' %}

{% block title %}Inicio{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-3">
            <div class="list-group">
                CATEGORÍAS
                <a class="list-group-item list-group-item-action" href="{{ url_for('shop.index') }}">
                    TODOS
                </a>
                {% for c in categories %}
                <a class="list-group-item list-group-item-action" href="{{ url_for('shop.index', category=c.id) }}">
                    {{ c.name }}
                </a>
                {% endfor %}
            </div>
        </div>
        <div class="col-9">
            <div class="row row-cols-1 row-cols-md-4 g-4">
                {% for p in products %}
                <div class="col">
                    <div class="card action">
                        <img src="{{ p.image_base64 }}" class="card-img-top" alt="..."
                            onerror="this.src='/static/imgs/default-pro.jpg'">
                        <div class="card-body">
                            <h5 class="card-title">{{ p.name }}</h5>
                            <p class="card-text">{{ 'Q%0.2f'|format(p.price_unit | float) }}</p>
                            <p class="card-text">{{ p.category_name }}</p>
                            <div>
                                <a href="{{ url_for('shop.product', id=p.id) }}" class="btn btn-primary">Agregar</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>

        </div>
    </div>
</div>
{% endblock %}