{% extends 'base.html' %}

{% block title %}Carrito{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-9">
            <b>Pago con tarjeta</b>
            <form action="{{ url_for('shop.payment', type='card') }}" method="post">
                <div class="mb-3">
                    <label for="name">Nombre</label>
                    <input class="form-control" name="name" id="name" value="{{ request.form['name'] }}" required>
                </div>
                <div class="mb-3">
                    <label for="name">Número de tarjeta</label>
                    <input class="form-control" name="card_number" id="card_number"
                        value="{{ request.form['card_number'] }}" required>
                </div>
                <div class="mb-3">
                    <label for="name">CVV/CVC</label>
                    <input type="text" class="form-control" name="cvv" id="cvv" required>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label>Fecha expiración</label>
                        <select class="form-control" name="month" id="month">
                            <option value="01">Enero</option>
                            <option value="02">Febrero</option>
                            <option value="03">Marzo</option>
                            <option value="04">Abril</option>
                            <option value="05">Mayo</option>
                            <option value="06">Junio</option>
                            <option value="07">Julio</option>
                            <option value="08">Agosot</option>
                            <option value="09">Septiembre</option>
                            <option value="10">Octubre</option>
                            <option value="11">Noviembre</option>
                            <option value="12">Diciembre</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label></label>
                        <input type="number" class="form-control" name="year" id="year" value="2021" min="2021" step="1" required>
                        <!--select class="form-control" name="year" id="year">
                            <option value="20">2020</option>
                            <option value="21">2021</option>
                            <option value="22">2022</option>
                            <option value="23">2023</option>
                            <option value="24">2024</option>
                            <option value="25">2025</option>
                            <option value="26">2025</option>
                        </select--->
                    </div>
                </div>
                <div class="mb-3"></div>
                <input type="submit" class="btn btn-primary" value="Pagar con tarjeta">
            </form>
            <hr/>
            <b>Pago con Paypal</b>
            <form action="{{ url_for('shop.payment', type='paypal') }}" method="post">
                <div class="mb-3">
                    <label for="username">Usuario</label>
                    <input class="form-control" name="username" id="username" value="{{ request.form['username'] }}"
                        required>
                </div>
                <div class="mb-3">
                    <label for="password">Contraseña</label>
                    <input type="password" class="form-control" name="password" id="password" required>
                </div>
                <input type="submit" class="btn btn-primary" value="Pagar con Paypal">
            </form>


        </div>
    </div>
</div>
{% endblock %}